.restaurant-card {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-color: #ddd; /* Border color */
}

.description {
  font-style: italic; /* Italicized description */
}

.info {
  font-family: Arial, sans-serif; /* Font for location, opening hours, and rating */
}

.location {
  font-family: Arial, sans-serif; /* Font for location */
  font-weight: bold; /* Font weight for location */
}

.opening-hours {
  text-transform: uppercase; /* Uppercase opening hours */
}

.rating {
  color: #007bff; /* Color for rating */
  font-weight: bold; /* Font weight for rating */
}

.add-to-collection-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #1e9e7a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-collection-button:hover {
  background-color: #09745f;
}

.yesString {
  color: #1e9e7a;
}

.noString {
  color: crimson;
}

.midString {
  color: rgb(180, 160, 43);
}