.user {
    width: 90%;
    margin: auto;
    background-color: aliceblue;
    border-radius: 30px;
    margin-top: 1vh;
    height: 20vh;
}

.friends {
    text-align: left;
    width: 75%;
    margin: auto;
    background-color: aliceblue;
    border-radius: 30px;
    height: 15vh;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: auto;
}

.friend {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: aliceblue;
    margin: 5vh;
}

.user-image {
    width: 20vh;
    height: fit-content;
    position: relative;
    float: left;
    margin-left: 2vh;
    margin-right: 5vh;
}

#name {
    font-weight: bold;
    font-size: 4vh;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#description {
    font-size: 3vh;
    color: rgb(70, 95, 95);
}

.friends-header {
    margin-top: 70px;
    padding-top: 50px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#friend-title {
    font-size: 4vh;
    font-weight: bold;
}

.user-descriptor {
    padding-top: 10px;
    text-align: left;
    position: relative;
}

.friend-image {
    width: 15vh;
    margin-right: 3vh;
}

#friend-name {
    font-weight: bold;
    font-size: 3.5vh;
    cursor: pointer;
}

#friend-description {
    color: rgb(70, 95, 95);
    font-size: 2.7vh;
}

#navigate-button {
    transition: 0.3s;
    border: none;
    border: 0.6vh solid rgb(155, 102, 245); /* Set the border color */
    font-size: 3vh;
    font-weight: bold;
    color: rgb(155, 102, 245);
    border-radius: 1vh;
    background-color: rgb(255, 255, 255);
}
#navigate-button:hover {
    background-color: rgb(240, 232, 255);
}

.restaurants {
    margin-top: 2vh;
    padding-top: 1vh;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: left;
}

#restaurant-title {
    font-size: 4vh;
    font-weight: bold;
}

.restaurants {
    text-align: left;
    width: 75%;
    margin: auto;
    background-color: aliceblue;
    border-radius: 2vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-row: auto auto;
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
    height: auto;
}

.restaurants-header {
    margin-top: 70px;
    padding-top: 50px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.restaurants {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

.restaurants > div {
    flex-basis: 40%;
    background-color: aliceblue;
    margin: 20px;
}

.restaurant-name {
    font-size: 3vh;
    font-weight: bold;
}

.restaurant-description {
    font-size: 2.5vh;
}

.restaurant-rating {
    font-size: 2.5vh;
}

.item {
    cursor: pointer;
    display: inline-block;
    background-color: white;
    /* border: 1px solid black; */
}
