.rating {
    color: darkblue;
    margin: 20px;
}

.load-more {
    color: purple;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.load-more:hover {
    color: black;
    transition: all 0.3s ease-in-out;
}
