.collection-card {
    display: block;
    padding: 0.5rem;
}
.collection-button {
    display: inline;
    width: 100%;
}

#add-new-collection-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-new-collection-button:hover {
    background-color: #45a049;
}