.friend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    border: 3px solid green;
    border-radius: 4px;
    padding: 10px;
    margin: 20px;
}

.friend-container * {
    margin: 2px;
}

.friend-header {
    margin-bottom: 20px;
}

.user-icon {
    width: 50px;
    height: 50px;
}
