.user-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 50px;
    border: 3px solid green;
    border-radius: 4px;
}

.user-search-input {
    margin-bottom: 30px;
}

.user-search-results {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

.user-search-users {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 40px;
}

.user-search-results-navigation {
    margin-top: auto;
}

.user-search-results-navigation * {
    margin: 10px;
}

.arrow {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.reverse {
    transform: scaleX(-1);
}
