/* SearchBar.css */

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  display: block;
  width: 80%;
  margin-left: 170px;
  margin-right: 170px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
  flex-grow: 1; 
}

.search-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}
